html * {
  background-color: white;
}
#chart {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.xaxis path {
  display: none;
}

.openLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.lowLine {
  fill: none;
  stroke: rgba(255,0,0,0.3);
  stroke-width: 1.5px;
}
